.discover {
	position: relative;
	background-color: #fff;
	height: 755px;

	&__bgcontainer {
		background: url(../img/bg/bg__002_base.svg) bottom -240px (center/cover) no-repeat;
		z-index: 0;
	}
	&__container {
		position: relative;
		height: 100%;
		background: url(../img/bg/bg__002.png) top 50px left no-repeat
	}
	&__leaf {
		display: block;
		width: 132px;
		height: 153px;

		position: absolute;
		right: 300px;
		top: -100px;

		background: url(../img/bg/bg__002_1.png) center (center/contain) no-repeat;
	}

	&__text {
		display: block;
		position: absolute;
		right: 0;
		top: 100px;
		width: 500px;
	}
}