.footer {
	min-height: 490px;
	padding-bottom: 40px;
	position: relative;

	color: #ffffff;

	a {
		color: #ffffff;
		text-decoration: none;
	}

	background-color: #262626;

	&__bgcontainer {
		height: 100px;
		border-bottom: 1px solid #666;
		margin-bottom: 20px;
	}	
	&__container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		padding-top: 45px;
	}

	&__social {
		width: 240px;
		&-icons {
			@include reset-list;
			margin-top: 33px;
			display: flex;
			flex-flow: row nowrap;
		}
		&-icon {
			width: 28px;
			height: 28px;
			margin-right: 20px;

			a {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		.icon_facebook {
			background: url(../icons/social/facebook.svg) center (center/contain) no-repeat;
		}
		.icon_twitter {
			background: url(../icons/social/twitter.svg) center (center/contain) no-repeat;
		}
		.icon_instagram {
			background: url(../icons/social/instagram.svg) center (center/contain) no-repeat;
		}

	}

	&__download {
		padding-top: 20px;
		.get-app__icons {
			margin-top: 25px;
			img {
				width: 120px;
				height: auto;
			}
		}
	}

	&__nav {
		width: 550px;
		ul {
			@include reset-list;

			li {
				margin-top: 20px;
			}
		}

		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	&__copy {
		flex-basis: 100%;
		margin-top: 20px;
		color: rgba($color: #ffffff, $alpha: .5);
	}
}