input {
	display: inline-block;
			height: 45px;
			border: none;
			padding-left: 30px;

			border-radius: 4px;
}

.signup {
	position: absolute;
	top: 47px;
	right: 0;

	&__form {

		input {
			width: 300px;
		}
	}
}
.address {
	&__form {
		input {
			width: 350px;
			border: 1px solid #666666;
		}
	}
}