.tap {
	margin-top: -100px;
	position: relative;
	height: 845px;
	background-color:#fff;

	&__container {
		position: relative;
	}
	&__bgcontainer {
		background: url(../img/bg/bg__004.png) left no-repeat,
		url(../img/bg/bg__004_2.png) right no-repeat,
		url(../img/bg/bg__002_base.svg) bottom -290px (center/cover) no-repeat;
	}

	&__text {
		position: absolute;
		right: 370px;
		top: 230px;
		width: 590px;

		&::after {
			content: "";
			display: block;
			width: 117px;
			height: 31px;

			position: absolute;
			bottom: -140px;
			left: 0;
			background: url(../icons/waves.png) center (center/contain) no-repeat;
		}
	}

	&__mushroom {
		position: absolute;
		right: 500px;
		top: -90px;
		display: block;
		width: 227px;
		height: 244px;

		background: url(../img/bg/bg__004_1.png) center (center/contain) no-repeat;
	}
}